.proj-tag span{
    font-size: 9pt;
}

.tag-flora{
    color: rgb(0, 192, 0);
}
.tag-fauna{
    color: rgb(134, 92, 28);
}
.tag-artenschutz{
    color: rgb(185, 23, 123);
}
.tag-exkursion{
    color: rgb(8, 129, 235);
}
.tag-mitmach{
    color: rgb(255, 200, 0);
}
.tag-spende{
    color: rgb(203, 47, 47);
}