:root{
    --bg-main: rgb(34, 39, 41);
    /*--bg-main: rgb(11, 47, 0);*/
    --bg-top: rgb(43, 49, 51);
    /*--bg-top: rgb(18, 74, 0);*/
    --bg-hover: rgb(59, 66, 68);
    --bg-active: rgb(95, 106, 109);
    --trennstrich: rgb(83, 88, 90);
    --co-active: rgb(185, 185, 185);
    --co-darkred: rgb(150, 14, 14);
    --co-text: white;
    --co-text-invers: black;
    --co-main-shadow: rgba(0, 0, 0, 0.24);
    --co-box-shadow: rgba(0, 0, 0, 0.24);
    --co-box-shadow-str: rgba(0, 0, 0, 0.596);
    --kleingedrucktes: rgb(185, 185, 185);
    --co-green: rgb(26, 201, 26);
    --co-green-mod: rgb(0, 179, 0);
    --co-overlay: rgba(43, 49, 51, 0.781);
}

@media (prefers-color-scheme: light) {
    :root{
        --bg-main: rgb(248, 248, 248);
        --bg-top: rgb(255, 255, 255);
        --bg-hover: rgb(211, 211, 211);
        --bg-active: rgb(158, 158, 158);
        --trennstrich: rgb(211, 211, 211);
        --co-active: rgb(99, 99, 99);
        --co-text: black;
        --co-text-invers: white;
        --co-main-shadow: rgba(0, 0, 0, 0.08);
        --co-box-shadow: rgba(0, 0, 0, 0.24);
        --kleingedrucktes: rgb(185, 185, 185);
        --co-box-shadow-str: rgba(0, 0, 0, 0.438);
        --kleingedrucktes: rgb(122, 122, 122);
        --co-overlay: rgba(255, 255, 255, 0.747);
    }
}